@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css");

/* edits */

.donation-image{
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 411px;
    margin-bottom: 10px;
}

/* end of edits */
body {
    color: white;
    font-family: Arial, sans-serif;
    font-size: 14pt;
    background:
          url("images/background-home-top-winter.png") top left no-repeat fixed,
          url("images/background-home-bottom-winter.png") bottom right no-repeat fixed,
          linear-gradient(-128deg, #627fbe 0, #050a1b 100%) 100% no-repeat fixed;
}

h1 {
    margin: 0 0 0.5em 0;
}

label {
    color: white !important;
    font-weight: normal;
}

.form-control {
    font-family: sans-serif;
}

a, a:hover, a:visited, a:link, a:active {
    /*color: black;*/
}

.donate-container {
    background-color: rgba(0,0,0,0.2);
    border: 3px solid #ffffff;/*#269abc;*/
    padding: 2em;
    margin-bottom: 2em;
}

.donate-form-half {
    margin-bottom: 0;
}

.panel-heading {
    background-color: hsla(0, 0%, 25%, 1) !important;
    color: white !important;
}

.panel-body, .list-group-item {
    background-color: #040044 !important;
}

.panel-default, .panel-heading, .panel-title, .panel-body, .list-group, .list-group-item {
    border-color: #ffffff !important;
}

@media screen and (min-width: 992px) {
    .donate-form-half {
        height: 20em;
    }

    .donate-form-half-left {
        margin-right: 1em;
        width: 48%;
    }

    .donate-form-half-right {
        margin-left: 1em;
        width: 48%;
        float: right;
        overflow-y: scroll;
    }
}

#donate-form-container {
    margin-bottom: 0;
    clear: both;
}

.panel-title {
    font-size: 14pt;
}

.btn {
    font-size: inherit;
}

.submit-container {
    text-align: center;
}

.submit {
    border: 1px solid darkgray;
    width: 5em;
    height: 2em;
    background-color: hsla(0, 0%, 25%, 1);
    /*color: black;*/
    text-align: center;
}

#preamble {
    text-align: center;
    font-size: 12pt;
}

.charity-name {
    color: #040044;
}

.bid-amount-group {
    margin-bottom: 0;
}

.bid-text {
    margin-top: 5px;
    display: inline-block;
}

.bid-total-container {
    text-align: right;
    padding-right: 25px;
}

.bid-total-panel {
    background-color: #040044;
    display: inline-block;
    position: relative;
    top: -60px;
}

.bid-total-button {
    font-family: 'FontAwesome';
    background-color: hsla(0, 0%, 25%, 1);
}

.bid-total-button-opened::after {
    content: "\f061";
}

.bid-total-panel-closed {
    opacity: 0.5;
}

.bid-total-button-closed::after {
    content: "\f060";
}

.bid-total {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}
