/* custom */


body {
    background-color: #dd9933;
    /*background-image: url("https://wp.bingothon.com/wp-content/uploads/2020/01/BACKGROUND-SUMMER-maybe.png");*/
    background-image: url("/static/images/backgroundbingothon-summer.jpg");
    background-position: left top;
    background-size: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;

    /*background:
        url("images/background-home-top.png") top left no-repeat fixed,
        url("images/background-home-bottom.png") bottom right no-repeat fixed,
        linear-gradient(-128deg, #982f33 0, #220a0b 100%) 100% no-repeat fixed;*/
}

.navbar-nav li a {
    color: #ffffff !important;
}

.dropdown-menu > li > a{
	color: #000 !important;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #2e3338;
}

.table-striped > tbody > tr:nth-of-type(odd) > td > button {
    background-color: #353a41;
}

.table-striped > tbody > tr:nth-of-type(even) {
    background-color: #353a41;
}

.table-striped > tbody > tr:nth-of-type(even) > td > button {
    background-color: #2e3338;
}

th, td {
    border-top: 1px solid #1c1e22 !important;
}

.table .table {
    background-color: transparent;
    border: 1px solid black;
}

.text-gdq-black {
    color: #269abc;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: white;
}

a {
    color: #779fff;
}

a:hover {
    color: #587acc;
    text-decoration: none;
}