/* custom */


body {
    background:
    url("../pictures/background-home-top.png") top left no-repeat fixed,
    url("../pictures/background-home-bottom.png") bottom right no-repeat fixed,
    linear-gradient(-128deg, #982f33 0, #220a0b 100%) 100% no-repeat fixed;
}

.navbar-nav li a {
    color: #ffffff !important;
}

.navbar-nav li a:hover {
    color: white !important;
}

.dropdown-menu > li > a{
	color: #000 !important;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #2e3338;
}

.table-striped > tbody > tr:nth-of-type(odd) > td > button {
    background-color: #353a41;
}

.table-striped > tbody > tr:nth-of-type(even) {
    background-color: #353a41;
}

.table-striped > tbody > tr:nth-of-type(even) > td > button {
    background-color: #2e3338;
}

th, td {
    border-top: 1px solid #1c1e22 !important;
}

.table .table {
    background-color: transparent;
    border: 1px solid black;
}

.text-gdq-black {
    color: #269abc;
}
